name: PR Checks
on:
  pull_request:
    branches: ["main"]

jobs:
  on-pr-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358
      - name: Run unit tests
        shell: bash
        run: |
          sbt test
